.container{
    width: 640px;
    margin: auto;
    margin-top: 150px;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 30px 40px;
    user-select: none;
}
.container hr{
    height: 2px;
    border: none;
    background: #707070;
}
.container h2{
    font-size: 27px;
    font-weight: 500px;
}
.container ul li{
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}
.container button{
    margin: auto;
    width: 250px;
    height: 65px;
    background: #553f9a;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}
.container .index{
    margin: auto;
    text-align: center;
}
.container .Correct{
    background-color: #dffff2;
    border-color: #00d397;
}
.container .Wrong{
    background: #FFEBEB;
    border-color: #f23c3c;
}